<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>GNEWS Analytics - Social Media News</title>
    <meta name="description" content="GNEWS is a search engine platform to help you find and collect the most recent, curated and relevant news from Social Media - all in one place by using our scalable machine-learning and data analytics technologies called Genesis." />
	<meta name="author" content="GNEWS.ID"/>
	<meta name="keywords" content="best app for news and reading,best news reader app,best free news reader app,best mobile app,apps,gnews,gnews apps"/>
	<meta property="og:title" content="GNEWS - Social Media News" />
	<meta property="og:url" content="http://GNEWS.ID" />
	<meta property="og:image" content="@{/resource/images/favicon.png}" />
	<meta property="og:description" content="GNEWS is a search engine platform to help you find and collect the most recent, curated and relevant news from Social Media - all in one place by using our scalable machine-learning and data analytics technologies called Genesis." />
	<meta property="og:site_name" content="GNEWS.ID" />

	<link rel="icon" th:href="@{/resource/images/favicon.png}" />

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700' rel='stylesheet' type='text/css'/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
	<!-- css -->
	<link rel="stylesheet" th:href="@{/resource/css/base.css}" />
	<link rel="stylesheet" th:href="@{/resource/css/animate.css}" />
	<!-- css for this project -->
	<link rel="stylesheet" th:href="@{/resource/css/project.css}" />

	<!-- ie -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	
	<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js}"></script>
	<script th:src="@{resource/js/stupidtable.js}"></script>
	<script>
	$(function(){
		 $("#billingTable").stupidtable();
    });
	</script>
	
	<style type="text/css">
    th[data-sort]{
      cursor:pointer;
    }
    </style>
</head>
<body>

<div th:replace="fragment/landing-navbar :: landing-navbar"></div>

<div id="mc-wrapper" class="">
	<div class="container">
		<div class="col-sm-12">
			<div class="content-head">
				<ul>
					<li><img th:src="@{/resource/images/ic_billing.png}"/></li>
					<li><h1>Confirm Payment</h1></li>
					<li></li>
				</ul>
			</div>
			<div class="content-inner">
				<div class="payment-confirm">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-lg-2 col-md-3 col-sm-2">
								<label class="form-label" th:text="${paymentdata.id}" for="transid">Transaction ID</label>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-10">
								<input class="form-control" id="transid" type="text"/>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-2 col-md-3 col-sm-2">
								<label class="form-label" for="bankowner">Bank owner</label>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-10">
								<input class="form-control" id="bankowner" type="text"/>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-2 col-md-3 col-sm-2">
								<label class="form-label" for="payment">Bank Payment from</label>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-10">
								<select class="form-control" id="payment">
									<option>Bank 1</option>
									<option>Bank 2</option>
									<option>Bank 3</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-2 col-md-3 col-sm-2">
								<label class="form-label" for="payment">Bank Payment to</label>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-10">
								<select class="form-control" id="payment">
									<option>BCA</option>
									<option>Mandiri</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-2 col-md-3 col-sm-2">
								<label class="form-label" for="amount">Amount transfered</label>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-10">
								<input class="form-control" id="amount" type="number"/>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-2 col-md-3 col-sm-2">
								<label class="form-label" for="date">Transfer date</label>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-10">
								<input class="form-control" id="date" type="date"/>
							</div>
						</div>
						<div class="row text-center">
							<a class="btn btn-blue waves-effect">SUBMIT</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

	<div th:replace="fragment/landing-footer :: landing-footer"></div>
	<div th:replace="fragment/modal-add-project :: modal-add-project"></div>
	
	<!-- js -->
	<script th:src="@{/resource/js/base.min.js}"></script>

	<!-- js for this project -->

	<script th:src="@{resource/js/project.js}"></script>


</body>
</html>
