<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="mail-navbar-inner">
	<div id="mail-navbar" class="col-sm-12 padding-less">
		<nav class="tab-nav nav-custom hidden-xs hidden-xx">
			<ul class="nav nav-justified">
				<li th:class="${#strings.contains(#httpServletRequest.getRequestURI(), '/group') ? 'active':''}">
					<a class="waves-attach" 
					th:href="@{/project/}+${project.id}+@{/mail/group}">
					Group recipient</a></li>
				<li th:class="${#strings.contains(#httpServletRequest.getRequestURI(), '/marketing') ? 'active':''}">
					<a class="waves-attach" 
					th:href="@{/project/}+${project.id}+@{/mail/marketing}">
					Mail report</a></li>
				<li th:class="${#strings.contains(#httpServletRequest.getRequestURI(), '/sender') ? 'active':''}">
					<a class="waves-attach"
					th:href="@{/project/}+${project.id}+@{/mail/sender}">
					Configure sender</a>
				</li>
			</ul>
		</nav>
	</div>
	</div>
</body>
</html>