<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body th:inline="text">
	<div th:fragment="mc-navbar">
		<header class="header header-waterfall" style="box-shadow: unset;">
			<div class="container">
				<div class="col-sm-12">
					<div class="user-menu">
						<ul class="nav nav-list pull-left">
							<li class="hidden-xx hidden-xs"><a th:href="@{/}"> <img
									class="navbar-brand margin-left-no"
									th:src="@{/resource/images/logo_gnewspro-compress.png}" />
							</a></li>
							<li class="hidden-sm hidden-md hidden-lg">
								<a th:href="@{/}">
									<img class="mobile-logo margin-left-no" th:src="@{/resource/images/logo_gnewspro-compress.png}" />
								</a>
							</li>
							<li class="hidden-xx "><a
									class="nav-menu" data-toggle="modal" href="#addProject">CREATE NEW PROJECT</a></li>
							<li class="hidden-xx hidden-menu-xs hidden-xs"><a
									th:classappend="${#strings.startsWith(#httpServletRequest.getRequestURI(), '/project') ? 'active':''}"
									class="nav-menu" th:href="@{/project}">YOUR PROJECTS</a></li>
							<li class="hidden-xx hidden-xs hidden-sm"><a
									th:classappend="${#httpServletRequest.getRequestURI() == '/setting' ? 'active':''}"
									class="nav-menu" th:href="@{/setting}">PROFILE</a></li>
						</ul>
						<div class="user-menu">
							<ul class="nav nav-list pull-right">
								<li class="hidden-sm hidden-md hidden-lg"><a
									class="dropdown-toggle" data-toggle="menu" href="#mobileNav">
										<img alt="more"
										th:src="@{/resource/images/hamburger_menu.jpg}"
										style="width: 15px; padding-top: 10px;" />
								</a></li>
								<li class="hidden-xx hidden-xs">
									<p>
										Hi, <span th:text="${#strings.arraySplit(fullname,' ')[0]}"></span>
										<br/><span th:text="${ #strings.length(email) > 25 ? #strings.substring(email,0, 25) + '...' : email}"></span>
									</p>
								</li>
								<li class="dropdown hidden-xx hidden-xs"
									style="padding-top: 10px;"><a class="dropdown-toggle-non-drp"
									data-toggle="dropdown"><span class="avatar"><img
											alt="gnews"
											th:src="${profilepicture} == null ? @{/resource/images/avatar_1.png} : @{/images/uploads/}+${profilepicture}" /></span></a>
									<ul class="dropdown-menu"
										style="top: 56px; border: 1px solid #E7E7E7;">
										<li><a class="waves-attach" th:href="@{/billing}"><span
												class="icon margin-right-sm">settings</span>&nbsp;Billing</a></li>
										<li><a class="waves-attach" th:href="@{/setting}"><span
												class="icon margin-right-sm">settings</span>&nbsp;Profile</a></li>
										<li><a class="waves-attach" th:href="@{/about}"><span
												class="icon margin-right-sm">info</span>&nbsp;About</a></li>
										<li><a class="waves-attach" th:href="@{/logout}"
											onclick="deletecookie()"><span
												class="icon margin-right-sm">exit_to_app</span>&nbsp;Logout</a>
										</li>
									</ul></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</header>
	</div>
</body>
</html>
