<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="hidden-xx hidden-xs" th:fragment="project-header">
		<div class="content-head">
				<ul>
					<li>
						<img th:src="@{/resource/images/ic_project_title.png}"/>
					</li>
					<li><h1>Projects</h1></li>
					<li>
						<label>Show:</label>
					</li>
					<li>
						<div id="dd" class="showby-dropdown">All
							<ul class="dropdown">
								<li><a th:href="@{/project}"><img th:src="@{/resource/images/ic_active.png}"/>All</a></li>
								<li><a th:href="@{/project?filter=active}"><img th:src="@{/resource/images/ic_active.png}"/>Active</a></li>
								<li><a th:href="@{/project?filter=expired}"><img th:src="@{/resource/images/ic_inactive.png}"/>Inactive</a></li>
								<li><a th:href="@{/project?filter=expired-soon}"><img th:src="@{/resource/images/ic_expiredsoon.png}"/>Expired soon</a></li>
							</ul>
						</div>
					</li>
					<li class="hidden-menu-xs">
						<label >View:</label>
					</li>
					<li class="hidden-menu-xs">
						<div class="btn-group">
							<a th:href="@{/project?type=grid}" class="btn btn-view" th:classappend="${#strings.contains(#httpServletRequest.getRequestURI(), 'grid') ? 'active':''}"><i class="fa fa-th-large"></i></a>
							<a th:href="@{/project?type=list}" class="btn btn-view" th:classappend="${#strings.contains(#httpServletRequest.getRequestURI(), 'list') ? 'active':''}"><i class="fa fa-bars"></i></a>
						</div>
					</li>
					<li class="hidden-sm ">
						<label>Find</label>
					</li>
					<li class="hidden-sm">
						<span><input id="searchProjectList" class="search" type="search"/></span>
						<!-- <a><span class="icon margin-right-sm">keyboard_arrow_right</span></a> -->
					</li>
					<li>
						<a class="btn btn-blue waves-effect" data-toggle="modal" href="#addProject"><i class="fa fa-plus"></i> ADD PROJECT</a>
					</li>
				</ul>
			</div>
	</div>
</body>
</html>