<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8"/>
	<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
	<meta content="initial-scale=1.0, width=device-width" name="viewport"/>
	<link rel="icon" th:href="@{/resource/images/favicon.png}" />
	<title>GNEWS Pro - Digital PR Solution</title>

	<!-- css -->
	<link th:href="@{/resource/analytics/css/font-awesome.min.css}" rel="stylesheet" />
	<!-- css for this project -->
	<link th:href="@{/resource/analytics/css/base.css}" rel="stylesheet"/>
	
	<!-- styling in detail project  -->
	<link th:href="@{/resource/analytics/css/fullcalendar.css}" rel="stylesheet"/>
	<link th:href="@{/resource/analytics/css/style.css}" rel="stylesheet"/>
	<link rel="stylesheet" th:href="@{/resource/css/project.css}" />
	
	<!-- css for date range picker  -->
	<link th:href="@{/resource/analytics/css/daterangepicker.css}" rel="stylesheet"/>
	
	<!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.0.2/css/responsive.dataTables.min.css" />
    
	<!-- css for datatable styling -->
    <link rel="stylesheet" th:href="@{/resource/css/datatable-style.css}" />
	
	<!-- ie -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
		
</head>
<body th:inline="text">
	<div class="avoid-fout-indicator avoid-fout-indicator-fixed">
		<div class="progress-circular progress-circular-alt progress-circular-center">
			<div class="progress-circular-wrapper">
				<div class="progress-circular-inner">
					<div class="progress-circular-left">
						<div class="progress-circular-spinner"></div>
					</div>
					<div class="progress-circular-gap"></div>
					<div class="progress-circular-right">
						<div class="progress-circular-spinner"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div th:replace="fragment/mc-navbar :: mc-navbar">&nbsp;</div>
	<div class="hidden-sm hidden-md hidden-lg" th:replace="fragment/mobile-navbar :: mobile-navbar">&nbsp;</div>

	<div class="row">
	
	<div th:replace="fragment/analytic-leftbar :: analytic-leftbar">&nbsp;</div>
	
	<div class="content">

		<div id="inner-wrapper-shorter" class="container">
			<div class="row">
				<div class="col-sm-12 padding-less">
					<div class="content-head">
					<ul>
						<li><i class="fa fa-envelope-o icon-head" aria-hidden="true"></i></li>
						<li><h1>Email Marketing</h1></li>
						<li></li>
					</ul>
					</div>
				</div>
				
					<section class="content-inner">
						
						<div th:replace="marketing-mail/fragment/mail-navbar-inner :: mail-navbar-inner">&nbsp;</div>

						<div class="col-sm-12 padding-less">
							<div class="tab-pane active fade in" id="tab-keyword">
								<div class="card noshadow" id="emailMarketing">
									<a class="btn btn-general waves-effect" th:href="@{/project/}+${project.id}+@{/mail/marketing/compose}">Create new email</a>
									<table id="blastList" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
				                        <thead>
				                            <tr>
				                            	<th width="3%">No</th>
				                                <th width="20%">Send Date</th>
				                                <th width="45%">Mail Details</th>
				                                <th width="10%">Send Rate</th>
				                                <th width="10%">Open Rate</th>
				                                <th width="12%">Report</th>
				                            </tr>
				                        </thead>
				                        <tbody>
				                        	<tr th:each="data : ${list}">
				                        		<td class="count text-center"></td>
				                        		<td><span th:text="${#dates.format(data.sendDate, 'dd MMM yyyy HH:mm')}"></span></td>
				                        		<td>
					                        		<h5 th:text="${#strings.length(data.subject)} > 50 ? ${#strings.substring(data.subject, 0, 50)} + '...' : ${data.subject}"></h5>
					                        		<span th:text="${#strings.length(data.content)} > 50 ? ${#strings.substring(data.content, 0, 50)} + '...' : ${data.content}"></span>
					                        	</td>
				                        		<td class="text-center"><h3>[[${data.sentCount}]]</h3></td>
				                        		<td class="text-center"><h3>100%</h3></td>
				                        		<td class="text-center">
				                        			<a class="btn waves-attach" th:href="@{/project/}+${project.id}+@{/mail/marketing/report/}+${data.id}">
				                        				<i class="fa fa-pie-chart" aria-hidden="true"></i> Report 
				                        			</a>
				                        		</td>
				                        	</tr>
				                        	
				                        </tbody>
				                     </table>
								</div>
							</div>
						</div>
					</section>
			</div>
		</div>
	</div>
	</div>
		
	<div th:replace="fragment/modal-add-project :: modal-add-project"></div>
	<div th:replace="marketing-mail/fragment/sender-wizard :: sender-wizard"></div>
	
	<!-- js for this project -->
	<script th:src="@{/resource/analytics/js/jquery.min.js}"></script>
	<script th:src="@{/resource/analytics/js/base.min.js}"></script>
	<script th:src="@{/resource/analytics/js/project.min.js}"></script>
	
	<!-- Data Tables -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.0.2/js/responsive.bootstrap.min.js"></script>
	
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	    $.extend($.fn.dataTable.defaults, {
            responsive: true
        });

        $(document).ready(function() {
            $('#blastList').DataTable();
            oTable = $('#blastList').DataTable();
        });
	/*]]>*/
	</script>
</body>
</html>