<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8"/>
	<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
	<meta content="initial-scale=1.0, width=device-width" name="viewport"/>
		<link rel="icon" th:href="@{/resource/images/favicon.png}" />
	<title>GNEWS Analytics - Social Media News</title>

	<!-- css -->
	<link th:href="@{/resource/analytics/css/style.css}" rel="stylesheet"/>
	<link th:href="@{/resource/analytics/css/font-awesome.min.css}" rel="stylesheet" />
	
	<!-- css for this project -->
	<link th:href="@{/resource/analytics/css/base.css}" rel="stylesheet"/>
	<link th:href="@{/resource/analytics/css/project.css}" rel="stylesheet"/>
	<link rel="stylesheet" th:href="@{/resource/css/project.css}" />
	<!-- css for date range picker  -->
	<link th:href="@{/resource/analytics/css/daterangepicker.css}" rel="stylesheet"/>
	

	<!-- ie -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>
<body th:inline="text">
	<div class="avoid-fout-indicator avoid-fout-indicator-fixed">
		<div class="progress-circular progress-circular-alt progress-circular-center">
			<div class="progress-circular-wrapper">
				<div class="progress-circular-inner">
					<div class="progress-circular-left">
						<div class="progress-circular-spinner"></div>
					</div>
					<div class="progress-circular-gap"></div>
					<div class="progress-circular-right">
						<div class="progress-circular-spinner"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="url_config_analytics">
		<a href="#" id="project_id" th:text="${project.id}"></a>
		<a href="#" id="project_name" th:text="${project.name}"></a>
		<a href="#" id="startDates" th:text="${start}"></a>
		<a href="#" id="endDates" th:text="${end}"></a>
		<a th:href="@{/api/report/}" id="apiReport"></a>
    </div>
	
	<div th:replace="fragment/mc-navbar :: mc-navbar">&nbsp;</div>
	
	<div th:replace="analytics/fragment/analytics-sidebar :: analytics-sidebar">&nbsp;</div>
	
	<div th:replace="analytics/mobile/fragment/analytics-delete-project :: analytics-delete-project">&nbsp;</div>

	<div class="content">
		
		<div th:replace="analytics/fragment/analytics-header :: analytics-header">&nbsp;</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<section class="content-inner">
						
						<div th:replace="analytics/fragment/analytics-navbar-inner :: analytics-navbar-inner">&nbsp;</div>
						
						<div class="col-sm-8 tab-content1" >
							<div class="tab-pane fade active in" id="tab-topten">
								<div class="el-loading" id="el-loading-2">
									<div class="el-loading-indicator">
										<div class="progress progress-position-absolute-top">
											<div class="progress-bar-indeterminate"></div>
										</div>
									</div>
									<div class="card noshadow" id="periodic">
										<div class="card-main">
											<div class="card-inner" style="margin-bottom:10px;">
												<div id="topten-chart" style="width:540px; height: auto;"></div>
											</div>
										</div>
										<div class="card-action analytics" style="border-top: none; text-align: center;">
											<a id="more" class="btn btn-keyword waves-effect" onClick="topmedia(50);">Load more</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-sm-4 tab-content2">
							<div class="tab-pane fade active in" id="tab-topten">
								<div class="el-loading" id="el-loading-3">
									<div class="el-loading-indicator">
										<div class="progress progress-position-absolute-top">
											<div class="progress-bar-indeterminate"></div>
										</div>
									</div>
									<div class="card noshadow">
										<div class="card-header analytics">
										</div>
										<div class="card-main">
											<div class="card-inner analytics" id="mediaTerm">											
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragment/landing-footer :: landing-footer"></div>	
	<div th:replace="fragment/modal-add-project :: modal-add-project"></div>

	<!-- js -->
	<script th:src="@{/resource/analytics/js/jquery.min.js}"></script>

	<!-- js for this project -->
	<script th:src="@{/resource/analytics/js/base.min.js}"></script>
	<script th:src="@{/resource/analytics/js/project.min.js}"></script>
	<script th:src="@{/resource/analytics/js/jquery.number.js}"></script>

	<!-- Chart Plugin -->
	<script th:src="@{/resource/analytics/js/highcharts.js}"></script>
	<script th:src="@{/resource/analytics/js/exporting.js}"></script>
	
	<script th:src="@{/resource/analytics/js/underscore.js}"></script>
	<script th:src="@{/resource/analytics/js/moment-with-langs.js}"></script>
	
	<!-- Date Range Picker Plugin -->
	
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script th:src="@{/resource/analytics/js/daterangepicker.js}"></script>

	<script type="text/javascript">
	/*<![CDATA[*/
		
		var startDate = '';
		var endDate = '';
		var term = '';
	
		if($('#startDates').text().length == 0) {
			startDate = moment().subtract(7, 'days').format('YYYY-MM-DD');
			endDate = moment().format('YYYY-MM-DD');
		}else{
			startDate = $('#startDates').text();
			endDate = $('#endDates').text();
		} 
		
		$('.date_pick').val(moment(startDate).format('YYYY-MM-DD') + " - " + moment(endDate).format('YYYY-MM-DD'));
		
		var projectName = $('#project_name').text();
		var idProject = $('#project_id').text();
		/* var limit = 20; */
		var addrMediaCount = $('#apiReport').attr('href') + idProject + "/media-count?accessToken=" +  $('#access_token').text() + "&start=" + startDate + "&end=" + endDate;  
		var addrArticleCount = $('#apiReport').attr('href') + idProject + "/article-count?accessToken=" +  $('#access_token').text() + "&start=" + startDate + "&end=" + endDate;
		var addrMostMedia = $('#apiReport').attr('href') + idProject + "/most-media?accessToken=" +  $('#access_token').text() + "&start=" + startDate + "&end=" + endDate + "&limit=";
		var addrTermMediaMapping = $('#apiReport').attr('href') + idProject + "/most-media/article?accessToken=" +  $('#access_token').text() + "&start=" + startDate + "&end=" + endDate + "&limit=10&term=";
	
		var loadedArticles = 0;
		
		$(window).load(function() {
			$("#el-loading-2").addClass("el-loading-done");
			$("#el-loading-3").addClass("el-loading-done");
		});
		
		function articleCount(){
			$.ajax({
       	      type: "GET",
   	          url: addrArticleCount,                                
   	          data: "",
   	      	  dataType: "json",
   	       	  cache: false,
   	      	  beforeSend : function(){
   	      		  
   	      	  },
   	          success : function(data){
   	        	
   	          },complete : function(data){   	        	
   	        	var obj = JSON.parse(data.responseText);
   	        	var values = $.number(obj.data);
			    $('.post').number(values);
   	          }
       	   });
    	}
		
		function mediaCount(){
        	$.ajax({
       	      type: "GET",
   	          url: addrMediaCount,                                
   	          data: "",
   	      	  dataType: "json",
   	       	  cache: false,
   	      	  beforeSend : function(){
   	      		  
   	      	  },
   	          success : function(data){
   	        	
   	          },complete : function(data){   	        	
   	        	var obj = JSON.parse(data.responseText);
   	        	var value = $.number(obj.data);
			    $('#contributor').number(value);
   	          }
       	   });
    	}
		
		function loadArticles(term, count) {
			loadedArticles = 0;
			$('#mediaTerm').html('');
			var header = '<div>' +
				'<p style="font-size:14px;">'+'<span class="medianame">' + term  + '</span>' + '<br/>'+ '<b>' + count  + '</b>&nbsp; news.' + '</p>'+
				'<hr/>';
				'</div>';
       		$('.card-header').html(header);
       		getMoreArticles(term, loadedArticles);
		}
		
		function getMoreArticles(term, offset){
			var x = 0;
			$.ajax({
				type: "GET",
				url: addrTermMediaMapping + term + "&offset="+ offset,
				data: '', 
				success: function(json){
					var content = '';
					$.each(json.data, function(i, item){
						x++;
						loadedArticles++;
						function setElement(){
							var x=0;
				        	var domain = json.data[0].domain;
							var url = '';
							var title = '';
							var host= '';
							var date= '';
							
							content = '<div class="col-sm-12" style="padding-left: 10px;">'+
									'<p class="header-item">'+
										'<a href="'+item.url+'" target="_blank">'+item.title+'</a>'+
									'</p>'+
									'<p class="footer-item">'+
										'<a href="'+item.url+'" target="_blank">'+item.host+'&nbsp;'+'<span class="newsdate">' + moment.unix(item.date).format('MMM DD, YYYY HH:mm')+'</span>'+'</a>'+
									'</p>'+
								'</div>';
						}
						$(setElement(this));
						$('#mediaTerm').append(content);
						if(x > 9){
			        		 var load = '<div style="text-align: center;"">'+
							 '<a id="mores" class="btn btn-keyword waves-effect" onClick="">Load more</a>'+
							 '</div>';
							 $('#mediaTerm').append(load);
							 var btn = document.getElementById('mores');
				        	 btn.addEventListener('click', function() {
				        		 console.log("yay!");
				        		 getMoreArticles(term, loadedArticles);
				        		 $('#mores').remove();
							 }, false);
			        	 }
	  	            });
				}
			});
		}
		function topmedia(limit) {
			$.ajax({
				 type: "GET",
			     url: addrMostMedia+limit,
			     data: '',		     				     				         
		         beforeSend: function() { 				        	 
		        	
		         },
		         complete: function() { 		        	 
		        	 
		         },
		         success: function(json){
		        	 var terms = [];
		        	 var n = 0;
		           	 $.each(json.data, function(i, item){
		             	terms.push([item.term]);
		             	n++;
		             });
		           	 var values = [];
		           	 $.each(json.data, function(i, item){
		             	values.push([item.value]);		             
		             });
		           	if(terms[0]){
		           		  loadArticles(json.data[0].term, json.data[0].value);
		            	 //mediaTerm(json.data[0].term, json.data[0].value);		            	  
		              }
		        	 $('#topten-chart').highcharts({
		 		        chart: {
		 		            type: 'bar'
		 		        },
		 		       	credits: {
		 	            	enabled: false
		 	            },
		 		        title: {
		 		                text: ''
		 		            },
		 		        colors: ['#00A0DC'],
		 		        xAxis: {
		 		            categories: terms
		 		        },
		 		        tooltip: {
		 		            valueSuffix: ' millions'
		 		        },
		 		        legend: {
		 		            layout: 'vertical',
		 		            floating: true,
		 		            backgroundColor: '#FFFFFF',
		 		            align: 'right',
		 		            verticalAlign: 'bottom',
		 		            y: -32,
		 		            x: 10
		 		        },
		 		        tooltip: {
		 		            formatter: function () {
		 		                return '<b>' + this.series.name +'</b><br/>' +
		 		                    this.x + ': ' + this.y;
		 		            }
		 		        },
		 		       plotOptions: {
		 		    	  bar: {
		 		                dataLabels: {
		 		                    enabled: true
		 		                }
		 		            },
		 		            series: {
		 		                cursor: 'pointer',
		 		                point: {
		 		                    events: {
		 		                        click: function (item) {
		 		                        	loadArticles(terms[this.x], this.y);
		 		                           //mediaTerm(terms[this.x], this.y);
		 		                         }
		 		                    }
		 		                }
		 		            }
		 		        },
		 		        series: [{
		 		            name: 'News',
		 		            data: values,
		 		            url: terms
		 		        }]
		 		    });
		       	 }
			});
		}
		
		$(document).ready(function(){
			articleCount();
			mediaCount();
        	$('.post').number();
        	$('#contributor').number();
        	topmedia(20);
        	$('input[name="daterange"]').daterangepicker(
        			{
        			    locale: {
        			      format: 'YYYY-MM-DD'
        			    },        			    
        			}, 
        			function(start, end, label) {
        			    startDate = start.format('YYYY-MM-DD');
        			    endDate = end.format('YYYY-MM-DD');   
        			    
        			});    
        	    
        	$('input[name="daterange"]').on('apply.daterangepicker', function(ev, picker) {
        		document.getElementById("startDates").value = startDate;
     			document.getElementById("endDates").value = endDate;
     			redirect = idProject + '/top-media?start=' + startDate + '&end=' + endDate;
     			window.location = '/project/'+redirect;
        	});
		});
		
	/*]]>*/
	</script>
</body>
</html>