<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<meta content="initial-scale=1.0, width=device-width" name="viewport" />
<link rel="icon" th:href="@{/resource/images/favicon.png}" />
<title>GNEWS Analytics - Social Media News</title>

<!-- css -->

<link th:href="@{/resource/analytics/css/font-awesome.min.css}"
	rel="stylesheet" />
<!-- css for this project -->
<link th:href="@{/resource/analytics/css/base.css}" rel="stylesheet" />

<!-- styling in detail project  -->
<link th:href="@{/resource/analytics/css/fullcalendar.css}"
	rel="stylesheet" />
<link th:href="@{/resource/analytics/css/style.css}" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/resource/css/project.css}" />

<!-- css for date range picker  -->
<link th:href="@{/resource/analytics/css/daterangepicker.css}"
	rel="stylesheet" />

<!-- ie -->
<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body th:inline="text">
	<div class="avoid-fout-indicator avoid-fout-indicator-fixed">
		<div
			class="progress-circular progress-circular-alt progress-circular-center">
			<div class="progress-circular-wrapper">
				<div class="progress-circular-inner">
					<div class="progress-circular-left">
						<div class="progress-circular-spinner"></div>
					</div>
					<div class="progress-circular-gap"></div>
					<div class="progress-circular-right">
						<div class="progress-circular-spinner"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="url_config_analytics">
		<a href="#" id="startDates" th:text="${start}"></a> <a href="#"
			id="endDates" th:text="${end}"></a> <a href="#" id="projectID"
			th:text="${project.id}"></a> <a th:href="@{/api/report/}"
			id="apiReport"></a>
	</div>

	<div th:replace="fragment/mc-navbar :: mc-navbar">&nbsp;</div>

	<div
		th:replace="analytics/fragment/analytics-sidebar :: analytics-sidebar">&nbsp;</div>

	<div
		th:replace="analytics/mobile/fragment/analytics-delete-project :: analytics-delete-project">&nbsp;</div>

	<div class="row">

		<div
			th:replace="analytics/fragment/analytic-leftbar :: analytic-leftbar">&nbsp;</div>

		<div class="content">

			<div id="inner-wrapper-shorter" class="container">
				<div class="row">
					<div class="col-sm-12 padding-less">
						<div class="content-head">
						<ul>
							<li><i class="fa fa-thumb-tack icon-head" aria-hidden="true"></i></li>
							<li><h1>Pinned News</h1></li>
						</ul>
						</div>

						<section class="content-inner">
							<div class="tab-pane active fade in" id="tab-keyword">
								<div class="card noshadow starter-page text-center" id="emailMarketing">
									<div class="instruction-page">
										<i class="fa fa-thumb-tack icon-biggest" aria-hidden="true"></i>
										<h3>You don't have pinned news yet</h3>
										<h5>Start pinning from article in Digital Clipping or from external url.</h5>
										<a class="btn btn-general waves-effect" th:href="@{/project/}+${id}+@{/digital-clipping}">Start pin from Digital Clipping</a>
										<a class="btn btn-general waves-effect" data-toggle="modal" href="#addRecipient">Start pin from URL</a>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragment/modal-add-project :: modal-add-project"></div>
	<div th:replace="analytics/fragment/modal-add-pin :: modal-add-pin"></div>

	<!-- js for this project -->
	<script th:src="@{/resource/analytics/js/jquery.min.js}"></script>
	<script th:src="@{/resource/analytics/js/base.min.js}"></script>
	<script th:src="@{/resource/analytics/js/project.min.js}"></script>

	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
		
	/*]]>*/
	</script>

</body>
</html>