<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="gnewsletter-navbar-inner">
	<div id="newsletter-navbar" class="col-sm-12 padding-less">
		<nav class="tab-nav nav-custom hidden-xs hidden-xx">
			<ul class="nav nav-justified">
				<li th:class="${#strings.contains(#httpServletRequest.getRequestURI(), '/recipients') ? 'active':''}">
					<a class="waves-attach"
					th:href="@{/project/}+${project.id}+@{/gnewsletter/recipients}">
					Recipients</a>
				</li>
				<li th:class="${#strings.contains(#httpServletRequest.getRequestURI(), '/report') ? 'active':''}">
					<a class="waves-attach" 
					th:href="@{/project/}+${project.id}+@{/gnewsletter/report/list}">
					Gnewsletter report</a></li>
			</ul>
		</nav>
	</div>
	</div>
</body>
</html>