html{
  background: #fafafa !important;
}
body{
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  background: #fafafa !important;
  color: #4a4a4a !important;
}

/*Top nav*/
#mc.navbar-default {
  background-color: #fff;
  border-bottom: 1px solid #DDDDDD;
}
a.nav-menu {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 400;
  line-height: 60px;
  margin: 8px 10px;
  color: #4a4a4a;
  cursor: pointer;
}
a.nav-menu:hover{
  color: #00B8E6 !important;
}
p.user-detail{
color: #4a4a4a;
font-size: 13px;
text-align:right;
margin-top: 6px;
}

/*Side Nav*/
.menu-title, #sidebar-menu > ul > li > a, #sidebar-menu > ul > li > a:hover{
  color: #4a4a4a;
}
#sidebar-menu > ul > li > a{
  border-bottom: 1px solid #DDDDDD;
  padding: 15px 20px !important;
  margin: 0 !important;
}
#sidebar-menu li.first{
  border-top: 1px solid #DDDDDD;
}
#sidebar-menu .subdrop{
  background: #D7d7d7 !important;
  border-left: none;
  color: #00B8E6 !important;
}

/*Project-header*/
.keyword-wrapper {
  border-left: 10px solid #D7d7d7;
  padding-left: 15px;
  margin: 0 0 10px 10px;
}
.keyword-wrapper i{
  color: #D7d7d7;
  font-size: 16px;
  line-height: 40px;
  padding: 0;
}
.keyword-wrapper h3{
  color: #00A0DC;
  font-weight: 500;
  font-size: 25px;
}
.keyword-title{
  padding: 0;
}
.counter-wrapper .row{
  float: right;
  margin-right: -73px;
}
.total-wrapper{
  width: 150px;
  background: #fff;
  padding-right: 0px !important;
  border: 1px solid #DFDFDF;
}
.total-wrapper h2{
  font-size: 27px;
  line-height: 27px;
}
.total-news {
    border-left: 10px solid #60CEF8;
    margin-right: 10px;
}
.total-media {
    border-left: 10px solid #52D2B7;
}

/*Navbar inner*/
.tab-nav{
  margin-top: 24px;
  margin-bottom: 24px;
  position: relative;
}
.tab-nav .nav > li > a{
  line-height: 40px;
  cursor: pointer;
}
.tab-nav .nav > li{
  background:#2196f3 !important;
  opacity: 0.2;
}
.tab-nav .nav > li > a:hover, .tab-nav .nav > li.active{
  background:#2196f3 !important;
  opacity: 1;
}


.content-head{
  height: 60px;
}
.content-head ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  line-height: 60px;
}
.content-head ul li {
    height: 60px;
    display: table-cell;
}
.content-head ul li:first-child {
  padding-right: 10px;
}


.vertical-center{
  display: table-cell;
  vertical-align: middle;
  width: 70%;
}
.radiusless{
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}
.full-height{
  height: 100vh !important;
}
.icon-medium{
  font-size: 24px;
}
.icon-big{
  font-size: 36px;
}

.btn-gblue{
  background: #00A0DC !important;
  border: 1px solid #00A0DC !important;
  padding-right: 1.6em;
  padding-left: 1.6em;
}

.btn-gblue:hover{
  background: #00A0DC !important;
  border: 1px solid #00A0DC !important;
}