@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
header {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700;
}
body {
    background-color: #fafafa!important;
    /* padding-bottom: 200px; */
}
.no-padding {
    padding: 0!important;
}
@font-face {
    font-family: 'HelveticaNeueBold';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/helvetica-neue-bold.ttf') format('truetype');
}
@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/helvetica-neue-regular.ttf') format('truetype');
}
@font-face {
    font-family: 'HelveticaNeueLight';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/helvetica-neue-ultra-light.ttf') format('truetype');
}
@font-face {
    font-family: 'HelveticaNeueStdLight';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/HelveticaNeueLTStd-Lt.otf') format('truetype');
}
@media only screen and (min-width: 360px) and (max-width: 479px) {
    #mobi .keywordName {
        width: 128px!important;
    }
    #mobi .dateMobi2 {
        margin-right: 25px;
    }
    #mobi .deleteMobi {
        margin-left: -28px!important;
    }
    #mobi .logo img {
        width: 191px!important;
    }
}
@media only screen and (max-width: 479px) {
    #mobi .modal-dialog.modal-xs.modal-delete {
        margin-top: 49%!important;
    }
    #mobi .logo img {
        width: 168px;
    }
    .content-right {
        text-align: right;
        width: 100%;
        padding-right: 30px;
        padding-left: 30px;
    }
    #dateRange {
        margin-left: 0!important;
    }
    #dateRange input {
        text-align: center;
    }
    .dateRangeBtn {
        padding: 8px 0 0;
        text-align: center!important;
        margin-left: 0!important;
        width: auto!important;
    }
    h3.heading.title-main {
        margin-top: 46px!important;
    }
    h3.heading {
        margin-top: 21px!important;
        text-align: center;
    }
    .avatar {
        width: 45px!important;
        height: 45px!important;
        border: solid 3px #dfdfdf;
    }
    #addKeywordBtn.pull-right {
        float: none;
        padding-right: 0px!important;
    }
    .addKey {
        margin: 4px auto !important;
    }
    #profile .menu-top {
        background-color: #00BCD4;
    }
    #keywordBox .boxImg {
        height: 165px;
        border-radius: 7px;
    }
    #el-loading-5 .card {
        box-shadow: none;
        margin-top: 0;
    }
    #el-loading-5 .card #keywordBox {
        margin: 0;
    }
    #mobi #navBottom a img {
        max-width: 100%;
    }
    #mobi {
        padding-bottom: 0;
    }
    #mobi .total-media-article {
        text-align: center;
        padding: 0;
        background-color: #DFF9FF;
    }
    #mobi .total-media-article .keywordName {
        text-align: left;
        text-transform: capitalize;
    }
    #mobi .nav-justified > li {
        background-image: url('../images/mobile/img_separator.png');
        background-position: right;
        background-repeat: no-repeat;
        display: block;
        padding-bottom: 12px;
    }
    #mobi .nav-justified > li:last-child {
        border-right: none;
    }
    #mobi #wrapper-head {
        padding-top: 53px;
        background-color: #DFF9FF;
        border-bottom: solid 1px #CEE6EC;
    }
    #mobi #content-head {
        padding: 0 16px;
    }
    #mobi .projectDetail {
        padding-left: 17px;
    }
    #mobi .projectDetail li {
        list-style: none;
        float: left;
    }
    #mobi .keywordName {
        font-family: 'HelveticaNeueStdLight';
        color: #4a4a4a;
        font-size: 15px;
        float: left;
        line-height: 15px;
        word-wrap: break-word;
        width: 94px;
        margin-top: 5px;
    }
    #mobi .keywordName span {
        font-family: 'HelveticaNeueBold';
    }
    #mobi .totalArticle .btn,
    #mobi .totalMedia .btn {
        padding: 9px 4px;
        border: 1px solid #c0dce3;
        background-color: #fff;
        font-size: 17px;
        text-transform: lowercase;
        line-height: 13px;
        margin-right: 6px;
        font-family: 'HelveticaNeueBold';
        width: 52px;
    }
    .PostMedia {
        line-height: 15px;
        padding-top: 4px;
        font-size: 13px;
        color: #4a4a4a;
        font-family: 'HelveticaNeueStdLight';
        /* margin-top: 2px; */
        
        width: 50px;
        float: left;
        margin-right: -19px;
    }
    #mobi .titleSection {
        width: 100%;
        border-bottom: 1px solid #dfdfdf;
    }
    #mobi .titleContainer {
        padding: 12px;
    }
    #mobi .titleContainer a {
        color: #212121;
        font-family: 'HelveticaNeueBold';
        font-size: 18px;
    }
    #mobi #highcharts-0.highcharts-container,
    #mobi #highcharts-0.highcharts-container svg {
        /* height: 250px!important; */
    }
    /* Expand */
    
    #detailProjectExpand {
        margin-top: 8px;
    }
    #mobi .dateMobi {
        font-family: 'HelveticaNeueStdLight';
        color: #4a4a4a;
        font-size: 15px;
        line-height: 15px;
        word-wrap: break-word;
        width: 94px;
        margin-top: 5px;
        text-align: left;
    }
    #detailProjectExpand .keywordName {
        line-height: 15px;
        width: 102px;
    }
    #mobi .dateMobi span {
        font-family: 'HelveticaNeueBold';
        text-decoration: underline;
    }
    #mobi .dateMobi2 {
        font-family: 'HelveticaNeueStdLight';
        color: #4a4a4a;
        font-size: 12px;
        line-height: 15px;
        word-wrap: break-word;
        width: 104px;
        margin-top: 5px;
        padding-left: 6px;
        border-left: solid 1px #dfdfdf;
        text-align: left;
        margin-left: 4px;
    }
    #mobi .dateMobi2 span {
        font-family: 'HelveticaNeueBold';
    }
    #mobi .deleteMobi {
        margin-top: 5px;
        margin-left: -7px;
    }
    #mobi #detailProjectExpand .totalArticle .btn,
    #mobi #detailProjectExpand .totalMedia .btn {
        width: 62px;
        padding: 6px 4px;
        font-size: 17px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {} #url_config_analytics {
    height:0;
}
/* Diky  */

.header-keyword-mapping {
    margin-top: 46px;
}
.content-left {
    border-left: 10px solid #D7d7d7;
    padding-left: 15px;
    margin-left: 7px;
}
.content-left h4 {
    font-size: 17px;
    font-weight: 300;
    margin: 5px !important;
    color: #4A4A4A;
}
.content-left h3 {
    margin: 2px;
    font-size: 25px;
    color: #00A0DC;
    font-weight: 500;
}
.content-left h3 span {
    color: #D7d7d7;
    font-size: 16px;
}
.content-left .row:first-of-type {} .content-right h4 {
    font-size: 16px;
    font-weight: 300;
    margin: 2px;
    line-height: 20px;
    color: #4A4A4A;
}
.content-right h2 {
    font-size: 27px;
    font-weight: 500;
    margin: 2px;
    color: #4A4A4A;
}
.total-news {
    padding-right: 0px !important;
    border: 1px solid #DFDFDF;
    border-left: 10px solid #60CEF8;
}
.col-sm-4.content-right {
	padding-right: 7px;
}
.total-media {
    padding-right: 0px !important;
    border: 1px solid #DFDFDF;
    border-left: 10px solid #52D2B7;
}
h3.heading {
    font-weight: bold;
    margin-bottom: 0;
    line-height: 22px;
    margin-top: 46px;
    padding-left: 15px;
    border-left: 10px solid #D7d7d7;
    padding-top: 10px;
    /* margin-bottom: -8px; */
}
.content-left .col-md-11 {
    padding-left: 10px;
}
.content-left .date-space {
    padding: 8px 0px 0px 15px;
}
.content-right {
    text-align: right;
    padding-right: 30px;
}
.dateRangeBtn {
    padding: 8px 0 0;
    text-align: left;
    margin-left: -40px;
    width: 45px;
}
.total-media-article {
    border-bottom: solid 1px #dfdfdf;
}
.dropdown-menu-drp {
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0px;
    margin: 2px 0px 0px;
    font-size: 14px;
    text-align: left;
    list-style: outside none none;
    background-color: #FFF;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
}
.date_pick{
	cursor: pointer !important;
}
/* enable absolute positioning */
.inner-addon {
    position: relative;
}
/* style icon */
.inner-addon .fa {
    background-color: #D7d7d7;
    color: #787777;
    font-size: 15px;
    position: absolute;
    height: 100%;
    width: 25px;
    height: 23px;
    padding: 4px 0px 0px 8px;
    pointer-events: none;
}
/* align icon */

.left-addon .fa {
    left: 0px;
}
.right-addon .fa {
    right: 1px;
    top: 1px;
}
/* add padding  */

.left-addon input {
    padding-left: 10px;
}
.right-addon input {
    padding: 2px 40px 2px 12px;
}
.form-group.neue {
    margin-top: 0!important;
    margin-bottom: 0!important;
}
.form-group.neue label {
    font-size: 14px!important;
}
.neue {
    font-family: 'HelveticaNeueLight';
    font-weight: normal;
}
.neueStd {
    font-family: 'HelveticaNeueStdLight';
    font-weight: normal;
}
.header {
    border-bottom: 1px solid #DDDDDD;
    background-color: #fff!important;
    min-height: 57px!important;
    /* padding-top: 0px!important;
	padding-bottom: 0px!important; */
}
.header a {
    font-family: 'Roboto', sans-serif;
    color: #4a4a4a !important;
    padding-top: 8px;
}
.header a:hover {
    color: #00B8E6 !important;
}
.nav a,
.nav .a {
    padding: 0;
}
.tab-nav {
    margin-top: 13px !important;
    margin-bottom: 13px !important;
}
.nav.neue {
    font-size: 17px;
}
.nav.neue li {
    padding: 4px;
}
.logo img {
    width: 130px;
    margin-top: -10px;
    margin-bottom: -10px;
}
.content-header {
    padding-top: 46px;
    background-color: #fafafa;
    overflow: hidden;
    position: relative;
    transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
}
#input-keyword {
    text-transform: capitalize;
}
.content-inner {
    margin-top: 0px!important;
}
.tab-nav .nav {
    background-color: #d1e3ea;
}
.tab-nav.nav-custom .nav li a {
    padding-top: 8px!important;
    padding-bottom: 8px!important;
}
.tab-nav .nav > li.active > a,
.tab-nav .nav > li.active > .a {
    background-color: #2196f3;
    color: #fff!important;
}
.tab-nav .nav > li.active > a:hover,
.tab-nav .nav > li.active > .a:hover {
    color: #fff!important;
}
.tab-nav .nav > li > a,
.tab-nav .nav > li > .a {
    color: #fff!important;
    text-transform: capitalize!important;
}
.tab-nav .nav > li > a:hover,
.tab-nav .nav > li > .a:hover {
    border-bottom-color: #2196f3!important;
    background-color: #2196f3;
}
.tab-nav .nav > li > a:focus,
.tab-nav .nav > li > .a:focus {
    color: #fff!important;
}
.dropdown-menu.dropdown-menu-right,
.dropdown.pull-right .dropdown-menu,
.nav.pull-right .dropdown-menu {
    top: 50px;
    width: 150px;
}
.card-heading {
    margin-bottom: 10px!important;
}
.content-item {
    height: 60px;
    max-height: 60px!important;
    margin-bottom: 17px;
}
.header-item {
    color: #4A4A4A;
    margin-top: 8px!important;
    margin-bottom: -12px;
    line-height: 16px;
}
.header-item a,
.header-item a:hover,
.header-item a:focus {
	font-size: 12px;
    text-decoration: none;
    color: #4a4a4a;
    
}
.footer-item a,
.footer-item a:hover,
.header-item a:focus {
	text-decoration: none;
    font-size: 12px;
    color: #52D2B7;
    margin: 10px 0 5px;
}
p.footer-item {
    margin: 9px 0 2px;
    font-size: 11px;
}
.box {
    margin: 17px 1.3%;
    padding: 0!important;
}
.boxImg {
    height: 300px;
}
.remove-ico {
    margin-top: 10px;
}
.remove-ico {
    padding: 7px;
    color: #616161;
}
.remove-ico:hover,
.remove-ico:focus {
    color: red;
}
.keyword {
    background-color: whitesmoke;
    opacity: 0.85;
    width: 100%;
    position: absolute!important;
    bottom: 0;
    left: 0;
}
.keyword p {
    padding: 0px 10px;
    text-transform: capitalize;
}
.keyword p a {
    color: #212121;
    padding: 9px 7px;
}
.keyword p a:hover {
    color: #212121;
    text-decoration: none;
}
.highcharts-container svg,
#topten-chart {} #menu-calendar {
    margin-bottom: 10px;
}
#head-progress h4 {
    margin-top: 20px;
    margin-bottom: 2px;
    font-weight: bold;
}
#head-progress .mediaTitleBox h4 {
    margin-top: 0px;
    font-size: 18px;
    font-weight: 400;
    color: #4a4a4a;
}
#head-progress .mediaMapping-text {
    color: #9d9d9d;
    font-size: 14px;
}
#mediaMapping-row {
    padding: 5px 25px;
}
#mediaMapping-row .progress {
    height: 17px;
    margin: 0;
    background-color: #dfdfdf;
}
#mediaMapping-row .progress span {
    float: right;
    padding-right: 6px;
    position: absolute;
    right: 0;
    top: 0;
}
#dateRange {
    font-size: 14px;
    text-align: center;
    border-left: 10px solid #D7d7d7;
    /* margin-left: 14.66667%; */
}
#dateRange .form-control {
    cursor: pointer!important;
}
#dateBtn.btn-flat:active,
#dateBtn.btn-flat:focus,
#dateBtn.btn-flat:hover {
    background-color: #d1e3ea!important;
}
#tab-listnews .cal-row-head [class*=cal-cell],
.cal-row-head [class*=cal-cell]:first-child {
    font-weight: 500;
}
/* =============== TAB GOOGLE =============== */

#tabs {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
#tabs li {
    float: left;
    margin: 0 .5em 0 0;
}
#tabs a {
    position: relative;
    background: #EDEDED;
    border-bottom: solid 1px #EDEDED;
    /* background-image: linear-gradient(to bottom, #fff, #ddd); */
    
    padding: .7em 2.7em;
    float: left;
    text-decoration: none;
    color: #444;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
    border-radius: 5px 0 0 0;
    /* box-shadow: 0 2px 2px rgba(0,0,0,.4); */
}
#tabs a:hover,
#tabs a:hover::after,
#tabs a:focus,
#tabs a:focus::after {
    background: #fff;
}
#tabs a:focus {
    outline: 0;
}
#tabs a::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    right: -.5em;
    bottom: -1px;
    width: 1em;
    background: #EDEDED;
    /* background-image: linear-gradient(to bottom, #fff, #ddd); */
    /* box-shadow: 2px 2px 2px rgba(0,0,0,.4); */
    
    transform: skew(10deg);
    border-radius: 0 5px 0 0;
}
#tabs #current a,
#tabs #current a::after {
    background: #fefefe;
    z-index: 3;
    font-weight: bold;
}
#tabs #current a {
    border: solid 1px #e6e6e6;
    border-bottom: none;
    border-right: none;
}
#tabs #current a::after {
    border: solid 1px #e6e6e6;
    border-top: none;
    border-left: none;
    border-bottom: none;
}
#content {
    background: #FEFEFE;
    /* padding: 2em; */
    /* height: 220px; */
    
    position: relative;
    z-index: 2;
    border-radius: 0 5px 5px 5px;
    /* box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5); */
}
#content .col-sm-12 {
    background-color: #FEFEFE;
}
#content .tabActive {
    padding: 10px;
    background-color: #FEFEFE;
    border: solid 1px #e6e6e6;
}
/* New navbar  */

header .nav a {
    padding-top: 8px;
}
.navbar-brand {
    height: 35px;
    width: auto;
    margin-right: 1rem;
}
.header li a.btn-blue {
    font-weight: 700;
    font-size: 17px;
    padding: 6px 22px;
}
li.phone {
    font-size: 20px;
    color: #9B9B9B;
    font-weight: normal;
    padding: 0px 15px;
    line-height: 30px;
    margin-top: 11px;
}
img.mobile-logo {
    width: 150px;
    height: auto;
}
.user-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    line-height: 60px;
}
.user-menu li a.nav-menu {
    font-size: 16px;
    margin: 10px 40px;
}
.user-menu li:first-child a.nav-menu {
    padding-left: 20px;
}
.user-menu li a.nav-menu:hover {
    color: #00B8E6;
}
.user-menu ul li p {
    color: #4a4a4a;
    font-size: 14.5px;
    margin: 18px;
}

/***** Mobile navbar styling ******/
.menu-top{
	background-color: #2A4C6F !important;
}
#mobilenav-wrapper .nav {
    margin: 25px;
}
#mobilenav-wrapper li {
    line-height: 40px;
}
.nav-font-size a {
    font-size: 17px;
}
/* Additional styling */

.card-header.analytics,
.card-header.articlelist {
    padding: 0 20px;
    border-bottom: none;
    display: block !important;
    color: #4a4a4a;
    font-size: 13px;
    min-height: 40px !important
}
.card-header.analytics p {
    margin: 12px 0 0;
    font-size: 15px;
}
.card-inner.analytics {
    margin: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 400px;
    margin-top: 0;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #b2b2b2;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
::-webkit-scrollbar-track {
    background-color: #f2f2f2;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
.analytics hr {
    margin: 0.3rem auto;
}
.analytics ul {
    margin-top: 0;
    margin-bottom: 12px;
    padding: 0 0 0 12px;
}
.analytics ul li {
    list-style-type: none;
    margin-bottom: 10px;
    font-size: 12px;
}
.projectname {
    color: #0ca3dc;
}
.medianame {
    color: #52D2B7;
}
.newsdate {
    color: #b2b2b2;
}
.col-sm-8.tab-content1 {
    padding-left: 0;
    padding-right: 0;
}
.col-sm-4.tab-content2 {
    padding-right: 0;
}
.articlelist {
    margin: 12px 0 0;
}
.card.noshadow {
    box-shadow: none;
    border: 1px solid #e1e1e1;
    margin-top: 0;
}
.card.noshadow.positive {
    border: 2px solid #00A0DC;
}
.card.noshadow.negative {
    border: 2px solid #FF7575;
}
.card.noshadow.neutral {
    border: 2px solid #E8E8E8;
}
#mediaContentPositive,
#mediaContentNegative {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 400px;
}
.articlebox {
    background: #0ca3dc;
    width: 10px;
    height: 10px;
}
button:focus {
    outline: 0;
}
#tab-keyword .card-inner {
    margin: 12px 16px !important;
}

/* Full calendar adjustment  */
.card.noshadow {
    width: 100%;
    height: 500px;
    display: block;
}
#calendar, #calendarArticle{
	height: auto;
}
#calendar .fc-toolbar,
#calendar .fc-view,
.fc-view > table {
    padding: 20px;
}

#calendar.fc-ltr .fc-basic-view .fc-day-number{
	text-align: center !important;
}

#calendar .fc-day-grid-event .fc-content{
	text-align: center;
}
#calendar.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-popover {
    border-color: #fff;
    text-transform: uppercase;
    font-weight: 300;
}

#calendar.fc .fc-toolbar > * > * {
	color: #4a4a4a;
}
#calendar .fc-toolbar h2{
	font-size: 26px;
	padding-left: 20px;
}
#calendar .fc-title {
	text-transform: lowercase;
}
#calendar.fc-unthemed .fc-today {
    /* background: #22a0dc !important;
    color: #fff !important; */
    background: #fff !important;
    font-size: 200%;
}
#calendar .fc-today.fc-state-highlight{
	/* font-size: 200%; */
}
#calendar.fc-day:hover {
    background: #22a0dc !important;
    color: #fff !important;
}
#calendar .fc-content-skeleton td:hover {
	border-top-color:#22a0dc !important;
	cursor: pointer;
}

#calendar .fc-state-default{
	background-color: #fff !important;
	border-color:#DDDDDD;
	/* color: #22a0dc !important; */
}
