<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>GNEWS Analytic - Social Media News</title>
    <meta name="description" content="GNEWS is a search engine platform to help you find and collect the most recent, curated and relevant news from Social Media - all in one place by using our scalable machine-learning and data analytics technologies called Genesis." />
	<meta name="author" content="GNEWS.ID"/>
	<meta name="keywords" content="best app for news and reading,best news reader app,best free news reader app,best mobile app,apps,gnews,gnews apps"/>
	<meta property="og:title" content="GNEWS - Social Media News" />
	<meta property="og:url" content="http://GNEWS.ID" />
	<meta property="og:image" content="@{/resource/images/favicon.png}" />
	<meta property="og:description" content="GNEWS is a search engine platform to help you find and collect the most recent, curated and relevant news from Social Media - all in one place by using our scalable machine-learning and data analytics technologies called Genesis." />
	<meta property="og:site_name" content="GNEWS.ID" />

	<link rel="icon" th:href="@{/resource/images/favicon.png}" />

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700' rel='stylesheet' type='text/css'/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
	<!-- css -->
	<link rel="stylesheet" th:href="@{/resource/css/base.css}" />
	<link rel="stylesheet" th:href="@{/resource/css/animate.css}" />
	<!-- css for this project -->
	<link rel="stylesheet" th:href="@{/resource/css/project.css}" />

	<!-- ie -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<div th:replace="fragment/landing-navbar :: landing-navbar"></div>
	
	<div id="content-wrapper" class="container">
		<h1>Thanks !</h1>
		<h4>Thank you for registering GNEWS PRO. Create your first project to get started.</h4>
		<a class="btn btn-border waves-effect" th:href="@{/}">Get Started</a>
	</div>

    <div th:replace="fragment/landing-footer :: landing-footer"></div>
	<div th:replace="fragment/modal-signin :: modal-signin"></div>
	<!-- js -->
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js}"></script>
	<script th:src="@{/resource/js/base.min.js}"></script>

	<!-- js for this project -->

	<script th:src="@{resource/js/project.js}"></script>

</body>
</html>

