<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>GNEWS PRO - Your PR Solution</title>
        <meta name="description"
        	content="GNEWS is a search engine platform to help you find and collect the most recent, curated and relevant news from Social Media - all in one place by using our scalable machine-learning and data analytics technologies called Genesis." />
        <meta name="author" content="GNEWS.ID" />
        <meta name="keywords"
        	content="best app for news and reading,best news reader app,best free news reader app,best mobile app,apps,gnews,gnews apps" />
        <meta property="og:title" content="GNEWS - Social Media News" />
        <meta property="og:url" content="http://GNEWS.ID" />
        <meta property="og:image" content="@{/resource/images/favicon.png}" />
        <meta property="og:description"
        	content="GNEWS is a search engine platform to help you find and collect the most recent, curated and relevant news from Social Media - all in one place by using our scalable machine-learning and data analytics technologies called Genesis." />
        <meta property="og:site_name" content="GNEWS.ID" />

        <link rel="icon" th:href="@{/assets/images/favicon.png}" />
        
        <link rel="stylesheet" th:href="@{/assets/plugins/bootstrap-select/dist/css/bootstrap-select.min.css}" />
        <link rel="stylesheet" th:href="@{/assets/plugins/bootstrap-daterangepicker/daterangepicker.css}" />

        <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/assets/css/core.css}" />
        <link rel="stylesheet" th:href="@{/assets/css/components.css}" />
        <link rel="stylesheet" th:href="@{/assets/css/icons.css}" />
        <link rel="stylesheet" th:href="@{/assets/css/pages.css}" />
        <link rel="stylesheet" th:href="@{/assets/css/responsive.css}" />

        <link rel="stylesheet" th:href="@{/assets/css/style.css}" />

        <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

		<script th:src="@{/assets/js/modernizr.min.js}"></script>

    </head>


    <body class="fixed-left">
        <div id="wrapper">
        	
        	<div id="url_config_analytics">
				<a href="#" id="project_id" th:text="${project.id}"></a>
				<a href="#" id="project_name" th:text="${project.name}"></a>
				<a href="#" id="startDates" th:text="${start}"></a>
				<a href="#" id="endDates" th:text="${end}"></a>
				<a th:href="@{/api/report/}" id="apiReport"></a>
		    </div>

            <div th:replace="fragment/pro-topbar :: pro-topbar"></div>
            
            <div th:replace="fragment/pro-leftbar :: pro-leftbar"></div>

            <div class="content-page">

              <div class="row">
                <div class="col-sm-12">
                  <div id="ma-control" class="row">
                    <div class="col-sm-3">
                      <select class="selectpicker form-control input-sm" data-style="btn-grey">
                        <option value=""> Kereta cepat</option>
                        <option value=""> Jokiwo</option>
                        <option value="">Akasia</option>
                      </select>
                    </div>

                    <div class="col-sm-1">

                    </div>

                    <div class="col-sm-3">
                      <div class="form-group">
                        <label class="col-lg-2 control-label" style="line-height: 30px;">Date</label>
                        <div class="col-lg-10">
                          <input class="form-control input-daterange-datepicker" name="daterange" value="01/01/2015 - 01/31/2015" type="text">
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-2">
                      <div class="form-group">
                        <label class="col-lg-4 control-label" style="line-height: 33px;">News</label>
                        <div class="col-lg-8">
                          <input class="form-control color-news" readonly="readonly" value="1024" type="text">
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-2">
                      <div class="form-group">
                        <label class="col-lg-4 control-label" style="line-height: 33px;">News</label>
                        <div class="col-lg-8">
                          <input class="form-control color-media" readonly="readonly" value="154" type="text">
                        </div>
                      </div>
                    </div>

                  </div>

                  <hr class="m-t-10 m-b-10" />
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="widget-bg-color-icon card-box radiusless fadeInDown animated">
                  	<canvas id="keywords-mapping"></canvas>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="widget-bg-color-icon card-box card-grey radiusless fadeInDown animated">
                    <div class="news-header">
                        <div class="pull-left">
                            <span>Showing <strong id="totalArticle">672</strong> news from <strong>1205</strong> </span>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div id="grid" class="row">
                    
                    	<div class="loader">Loading...</div>
                        
                        <!-- <div class="col-md-3">
                            <div id="news-card" class="panel panel-default radiusless">
                                <div class="panel-heading" style="padding: 0; height: 30px;line-height: 20px;width: auto; overflow: hidden;">
                                    <div class="card-header-side pull-left" style="padding: 6px 5px 0 7px"><div class="avatar" style="width: 17px;height: 17px;border-radius:0;background-color: transparent;"><img id="media" class="img-circle" src="https://pro.gnews.id/resource/images/img_media_default.png" style="width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto;"></div></div><div class="card-inner media" style="margin: 3px 11px;"><span style="font-size: 13px;color: #4a4a4a;">&nbsp;wartakota.tribunnews.com</span></div>
                                </div>
                                <div class="panel-img">
                                    <img alt="" src="http://cdn-2.tstatic.net/tribunnews/foto/bank/images/reklamasi-teluk-jakarta-dihentikan-sementara_20160418_222639.jpg" style="width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto;">
                                </div>
                                <div class="panel-body panel-news">
                                    <a href="http://gnews.id/article/read?url=http://m.tribunnews.com/metropolitan/2016/04/18/kata-pengamat-ada-kelompok-yang-sengaja-cari-cari-kesalahan-ahok" target="_blank"><span style="font-size: 11px;color: #b7b7b7;">Apr 18, 2016 23:54</span></a>
                                    <p style="margin: 8px 0;"><div clas="med"><a href="http://gnews.id/article/read?url=http://m.tribunnews.com/metropolitan/2016/04/18/kata-pengamat-ada-kelompok-yang-sengaja-cari-cari-kesalahan-ahok" target="_blank">Kata Pengamat, Ada Kelompok yang Sengaja Cari-cari Kesalahan Ahok</a></div><a style="font-size: 10px;color: #808080;padding-top:7px;line-height:17px;" href="http://gnews.id/article/read?url=http://m.tribunnews.com/metropolitan/2016/04/18/kata-pengamat-ada-kelompok-yang-sengaja-cari-cari-kesalahan-ahok" target="_blank">Fernando menilai proyek reklamasi Pemprov DKI Jakarta akan banyak memberikan manfaat bagi masyarakat ...</a></p>
                                </div>
                            </div>
                        </div> -->

                    </div>

                  </div>
                </div>
              </div>

              </div>

        </div>
        
        <div th:replace="fragment/pro-footer :: pro-footer"></div>



        <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script th:src="@{/assets/js/jquery.min.js}"></script>
        <script th:src="@{/assets/js/bootstrap.min.js}"></script>
        <script th:src="@{/assets/js/detect.js}"></script>
        <script th:src="@{/assets/js/fastclick.js}"></script>

        <script th:src="@{/assets/js/jquery.slimscroll.js}"></script>
        <script th:src="@{/assets/js/jquery.blockUI.js}"></script>
        <script th:src="@{/assets/js/waves.js}"></script>
        <script th:src="@{/assets/js/wow.min.js}"></script>
        <script th:src="@{/assets/js/jquery.nicescroll.js}"></script>
        <script th:src="@{/assets/js/jquery.scrollTo.min.js}"></script>

        <script th:src="@{/assets/js/jquery.core.js}"></script>
        <script th:src="@{/assets/js/jquery.app.js}"></script>
        
        <script th:src="@{/assets/plugins/moment/moment.js}"></script>
        <script th:src="@{/assets/plugins/bootstrap-select/dist/js/bootstrap-select.min.js}"></script>
        <script th:src="@{/assets/plugins/bootstrap-daterangepicker/daterangepicker.js}"></script>
        <script th:src="@{/resource/js/jquery.grid-a-licious.js}"></script>
        
        <script th:src="@{/resource/js/news-media-counter.js}"></script>
		<script th:src="@{/resource/js/loadCards.js}"></script>

        <script type="text/javascript">
            jQuery(document).ready(function($) {
            	$('.input-daterange-datepicker').daterangepicker({
					buttonClasses: ['btn', 'btn-sm'],
		            applyClass: 'btn-default',
		            cancelClass: 'btn-white'
				});
            });
            
            var type 				= "keywordmap";
    		var onArticleLoading 	= false;
    		$('.date_pick').val(moment(startDate).format('YYYY-MM-DD') + " - " + moment(endDate).format('YYYY-MM-DD'));
    		
    		var stat = [[${project.crawlState}]];
    		if(stat === "Finish" ){
    			$('#alertBox').remove();
    		}else if(stat === null){
    			$('#alertBox').remove();
    		}
    		
    		$("#alert").text("Our system is preparing your project");
         	$("#alert").addClass("alert-success");
    		
    		$(window).load(function() {
    			$("#el-loading-5").addClass("el-loading-done");
    		});
    		
    		function loadArticles(term) {
    			loadContainer();
    			articleCountByterm(term);
    			mediaCountByTerm(term);
    			loadNews(type, term);
    		}
    		
    		$(window).scroll(function() {					
    			var scrollHeight = (window.innerHeight + window.scrollY);
    			var bodyHeight = document.body.offsetHeight;
    			if ((scrollHeight) >= bodyHeight) {
    				if(!onArticleLoading){
    					setTimeout(function() {
    						loadNews(type, currentTerm);
    					}, 500);
    				}
    			}
    		});
    		
    		$(document).ready(function(){
    			allTermsByDate('#keywords-mapping');
            	$('input[name="daterange"]').on('apply.daterangepicker', function(ev, picker) {
            		document.getElementById("startDates").value = startDate;
         			document.getElementById("endDates").value = endDate;
         			redirect = idProject + '/dashboard/keyword-mapping?start=' + startDate + '&end=' + endDate;
         			window.location = '/project/'+redirect;
            	});
    		});
    		
        </script>




    </body>
</html>
