<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8"/>
	<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
	<meta content="initial-scale=1.0, width=device-width" name="viewport"/>
	<link rel="icon" th:href="@{/resource/images/favicon.png}" />
	<title>GNEWS PRO - Digital PR Solution</title>

	<!-- css -->
	<link th:href="@{/resource/analytics/css/font-awesome.min.css}" rel="stylesheet" />
	<!-- css for this project -->
	<link th:href="@{/resource/analytics/css/base.css}" rel="stylesheet"/>
	<link th:href="@{/resource/analytics/css/jquery.timepicker.css}" rel="stylesheet"/>
	
	<!-- styling in detail project  -->
	<link th:href="@{/resource/analytics/css/style.css}" rel="stylesheet"/>
	<link th:href="@{/resource/css/project.css}" rel="stylesheet" />
	
	<!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.0.2/css/responsive.dataTables.min.css" />
    
	<!-- css for datatable styling -->
    <link rel="stylesheet" th:href="@{/resource/css/datatable-style.css}" />

	<!-- ie -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
		
</head>
<body th:inline="text">
	
	<div th:replace="fragment/mc-navbar :: mc-navbar">&nbsp;</div>
	<div class="hidden-sm hidden-md hidden-lg" th:replace="fragment/mobile-navbar :: mobile-navbar">&nbsp;</div>
	<div th:replace="analytics/mobile/fragment/analytics-delete-project :: analytics-delete-project">&nbsp;</div>

	<div class="row">
	
	<div th:replace="fragment/analytic-leftbar :: analytic-leftbar">&nbsp;</div>
	
	<div class="content">

		<div id="inner-wrapper-shorter" class="container">
			<div class="row">
				<div class="col-sm-12 padding-less">
					<div class="content-head">
					<ul>
						<li><i class="fa fa-envelope icon-head" aria-hidden="true"></i></li>
						<li><h1>GNEWSLetter</h1></li>
					</ul>
				</div>
					<section class="content-inner">
					
						<div th:replace="gnewsletter/fragment/gnewsletter-navbar-inner :: gnewsletter-navbar-inner">&nbsp;</div>
						
						<div class="col-sm-12 padding-less">
							<div class="tab-pane active fade in" id="tab-keyword">	
								<div class="card noshadow" id="gnewsLetter">
									<h5>Receive a weekly newsletter about what is being talked about your company.<br/> Add your team-mates so you can get the same information.</h5>
									<a class="btn waves-attach" data-toggle="modal" href="#newsletterConfig" style="float: right; margin-left: 10px;"> <i class="fa fa-cog" aria-hidden="true"></i> </a>
									<a class="btn btn-general waves-effect" data-toggle="modal" href="#addRecipient">Add team</a>
									<table id="blastList"
										class="table table-striped table-bordered dt-responsive nowrap"
										width="100%" cellspacing="0">
										<thead>
											<tr>
												<th class="text-center" width="40%">Email Address</th>
												<th class="text-center" width="25%">First Name</th>
												<th class="text-center" width="25%">Last Name</th>
												<th class="text-center" width="10%">Action</th>
											</tr>
										</thead>
										<tbody th:inline="text">
											<tr th:each="user : ${userData}">
												<td><h5 th:text="${user.email}"></h5></td>
												<td><h5 th:text="${user.firstName}"></h5></td>
												<td><h5 th:text="${user.lastName}"></h5></td>
												<td class="text-center"><a class="btn waves-attach delete-post" data-toggle="modal" 
												href="#modalDelete" th:name="@{/project/delete/gnewsletter?id=}+${user.id}"> <i class="fa fa-trash-o" aria-hidden="true"></i> </a></td>
				                        	</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
	</div>
		
	<div th:replace="fragment/modal-add-project :: modal-add-project"></div>
	<div th:replace="gnewsletter/fragment/modal-newsletter-config :: modal-newsletter-config"></div>
	<div th:replace="gnewsletter/fragment/modal-add-recipient :: modal-add-recipient"></div>
	<div th:replace="gnewsletter/fragment/modal-delete :: modal-delete"></div>
	
	<!-- js for this project -->
	<script th:src="@{/resource/analytics/js/jquery.min.js}"></script>
	<script th:src="@{/resource/analytics/js/base.min.js}"></script>
	<script th:src="@{/resource/analytics/js/project.min.js}"></script>
	<script th:src="@{/resource/analytics/js/jquery.timepicker.js}"></script>
	
	<!-- Data Tables -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.0.2/js/responsive.bootstrap.min.js"></script>
	
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	    $.extend($.fn.dataTable.defaults, {
            responsive: true
        });

        $(document).ready(function() {
            $('#blastList').DataTable();
            oTable = $('#blastList').DataTable();
            
            $(function() {
                $('#timePicker').timepicker();
            });
        });
        
        $('.delete-post').click(function(){
    		var link = $(this).attr('name');
    		console.log(link);
    		$('.modal-delete-post').attr('href',link);
    	});
	/*]]>*/
	</script>
</body>
</html>