<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<meta content="initial-scale=1.0, width=device-width" name="viewport" />
<link rel="icon" th:href="@{/resource/images/favicon.png}" />
<title>GNEWS Pro - Digital PR Solution</title>

<!-- css -->
<link th:href="@{/resource/analytics/css/font-awesome.min.css}"
	rel="stylesheet" />
<!-- css for this project -->
<link th:href="@{/resource/analytics/css/base.css}" rel="stylesheet" />

<!-- styling in detail project  -->
<link th:href="@{/resource/analytics/css/fullcalendar.css}"
	rel="stylesheet" />
<link th:href="@{/resource/analytics/css/style.css}" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/resource/css/project.css}" />

<!-- css for date range picker  -->
<link th:href="@{/resource/analytics/css/daterangepicker.css}"
	rel="stylesheet" />

<link th:href="@{/resource/css/jquery.circliful.css}" rel="stylesheet" />

<!-- DataTables -->
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/responsive/2.0.2/css/responsive.dataTables.min.css" />

<!-- css for datatable styling -->
<link rel="stylesheet" th:href="@{/resource/css/datatable-style.css}" />

<style>
	a:hover, a:focus {
		text-decoration: none;
	}
</style>

<!-- ie -->
<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body th:inline="text">
	<div class="avoid-fout-indicator avoid-fout-indicator-fixed">
		<div
			class="progress-circular progress-circular-alt progress-circular-center">
			<div class="progress-circular-wrapper">
				<div class="progress-circular-inner">
					<div class="progress-circular-left">
						<div class="progress-circular-spinner"></div>
					</div>
					<div class="progress-circular-gap"></div>
					<div class="progress-circular-right">
						<div class="progress-circular-spinner"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragment/mc-navbar :: mc-navbar">&nbsp;</div>
	<div class="hidden-sm hidden-md hidden-lg" th:replace="fragment/mobile-navbar :: mobile-navbar">&nbsp;</div>

	<div class="row">
	
	<div th:replace="fragment/analytic-leftbar :: analytic-leftbar">&nbsp;</div>

	<div class="content">
	
	<div id="inner-wrapper-shorter" class="container">
				<div class="row">
					<div class="col-sm-12 padding-less">
						<div class="content-head">
							<ul>
								<li><i class="fa fa-envelope-o icon-head"
									aria-hidden="true"></i></li>
								<li><h1>Email Marketing</h1></li>
								<li></li>
							</ul>
						</div>
					</div>

					<section class="content-inner">
						
						<div th:replace="gnewsletter/fragment/gnewsletter-navbar-inner :: gnewsletter-navbar-inner">&nbsp;</div>
						
						<div class="col-sm-12 padding-less">
							<div class="tab-pane active fade in" id="tab-keyword">
								<div class="card noshadow auto-height" id="reportDashboard">
									<h3>
										<span th:text="@{Newsletter 26 April 2016}"></span>
									</h3>
									<div class="blast-detail" style="margin-top: 30px">
										<h5>
											Delivered: <span  th:text="@{26 April 2016, 06:00 AM}"></span>
										</h5>
										<h5>
											Total recipients: <span  th:text="4"></span>
											<span class="biru">21</span> recipients
										</h5>
									</div>
									<div class="col-sm-12 text-center">
										<div class="col-sm-3">
											<div class="box-model">
												<div class="row">
													<div class="col-xs-4 box-content">
														<i class="fa fa-paper-plane icon-biggest"
															aria-hidden="true"></i>
													</div>
													<div class="col-xs-8">
														<a th:href="@{/project/}+${project.id}+@{/gnewsletter/report/delivered/}+${mailId}"><h3 class="biru" id="deliveryRate">0%</h3></a>
														<span>Delivery rate</span>
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="box-model">
												<div class="row">
													<div class="col-xs-4 box-content">
														<i class="fa fa-check-circle-o icon-biggest"
															aria-hidden="true"></i>
													</div>
													<div class="col-xs-8">
														<a th:href="@{/project/}+${project.id}+@{/gnewsletter/report/opened/}+${mailId}"><h3 class="biru" id="openRate">0%</h3></a>
														<span>Open rate</span>
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="box-model">
												<div class="row">
													<div class="col-xs-4 box-content">
														<i class="fa fa-link icon-biggest" aria-hidden="true"></i>
													</div>
													<div class="col-xs-8">
														<a th:href="@{/project/}+${project.id}+@{/gnewsletter/report/clicked/}+${mailId}"><h3 class="biru" id="clickRate">0%</h3></a>
														<span>Click rate</span>
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="box-model">
												<div class="row">
													<div class="col-xs-4 box-content">
														<i class="fa fa-link icon-biggest" aria-hidden="true"></i>
													</div>
													<div class="col-xs-8">
														<a th:href="@{/project/}+${project.id}+@{/gnewsletter/report/unsubscribe/}+${mailId}"><h3 class="biru" id="unsubscribeRate">0%</h3></a>
														<span>Unsubscribe</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<h4>Open stat</h4>
									<div id="generalStat"></div>
									<h4>Country</h4>
									<div class="row">
										<div class="col-sm-6 text-center">
											<ul id="countryLegend" class="list-inline chart-detail-list text-center">
		                            		</ul>
		                                    <canvas id="countryChart" height="200"></canvas>
										</div>
										<div class="col-sm-6">
											<table id="blastList"
												class="table table-striped table-bordered dt-responsive nowrap"
												width="100%" cellspacing="0">
												<thead>
													<tr>
														<th width="5%">No</th>
														<th width="55%">Browser</th>
														<th width="20%">Total</th>
														<th width="20%">Percentage</th>
													</tr>
												</thead>
												<tbody id="countryList">
												</tbody>
											</table>
										</div>
									</div>
									
									<h4>Browser</h4>
									<div class="row">
										<div class="col-sm-6 text-center">
											<ul id="browserLegend" class="list-inline chart-detail-list text-center">
		                            		</ul>
		                                    <canvas id="browserChart" height="200"></canvas>
										</div>
										<div class="col-sm-6">
											<table id="blastList"
												class="table table-striped table-bordered dt-responsive nowrap"
												width="100%" cellspacing="0">
												<thead>
													<tr>
														<th width="5%">No</th>
														<th width="55%">Browser</th>
														<th width="20%">Total</th>
														<th width="20%">Percentage</th>
													</tr>
												</thead>
												<tbody id="browserList">
												</tbody>
											</table>
										</div>
									</div>
									
									<h4>Device</h4>
									<div class="row">
										<div class="col-sm-6 text-center">
											<ul id="deviceLegend" class="list-inline chart-detail-list text-center">
		                            		</ul>
		                                    <canvas id="deviceChart" height="200"></canvas>
										</div>
										<div class="col-sm-6">
											<table id="blastList"
												class="table table-striped table-bordered dt-responsive nowrap"
												width="100%" cellspacing="0">
												<thead>
													<tr>
														<th width="5%">No</th>
														<th width="55%">Browser</th>
														<th width="20%">Total</th>
														<th width="20%">Percentage</th>
													</tr>
												</thead>
												<tbody id="deviceList">
												</tbody>
											</table>
										</div>
									</div>
									
									<h4>OS</h4>
									<div class="row">
										<div class="col-sm-6 text-center">
											<ul id="osLegend" class="list-inline chart-detail-list text-center">
		                            		</ul>
		                                    <canvas id="osChart" height="200"></canvas>
										</div>
										<div class="col-sm-6">
											<table id="blastList"
												class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
												<thead>
													<tr>
														<th width="5%">No</th>
														<th width="55%">Browser</th>
														<th width="20%">Total</th>
														<th width="20%">Percentage</th>
													</tr>
												</thead>
												<tbody id="osList">
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>

	<!-- js for this project -->
	<script th:src="@{/resource/analytics/js/jquery.min.js}"></script>
	<script th:src="@{/resource/analytics/js/base.min.js}"></script>
	<script th:src="@{/resource/analytics/js/project.min.js}"></script>

	<!-- Chart Plugin -->
	<script th:src="@{/resource/analytics/js/highcharts.js}"></script>
	<script th:src="@{/resource/analytics/js/exporting.js}"></script>

	<script th:src="@{/resource/analytics/js/underscore.js}"></script>
	<script th:src="@{/resource/analytics/js/moment-with-langs.js}"></script>

	<script th:src="@{/resource/js/jquery.circliful.min.js}"></script>
	
	<!-- Chart js -->
	<script th:src="@{/resource/analytics/assets/Chart.js/Chart.min.js}"></script>
	<!-- <script th:src="@{/resource/analytics/js/chartjs.init.js}"></script> -->

	<!-- Data Tables -->
	<script
		src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/responsive/2.0.2/js/responsive.bootstrap.min.js"></script>

	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$.extend($.fn.dataTable.defaults, {
			responsive : true
		});
		
		$(document).ready(function() {
			
			/* $('#blastList').DataTable();
			oTable = $('#blastList').DataTable(); */
			
			//getDeliveryRate('#deliveryRate');
			//getPeaktime('#generalStat');
			
			//getTotalData();
		});
		/*]]>*/
	</script>
</body>
</html>